@keyframes popOut {
    from {
        transform: scale(1);
    }
    35% {
        transform: scale(1.2);
    }
    to {
        transform: scale(0);
    }
}

@keyframes moveIn {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fadeOut {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(0%);
        opacity: 0;
    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blindFadeIn {
    from {
        opacity: 0;
        pointer-events: none;
    }
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes blindFadeOut {
    from {
        opacity: 1;
        pointer-events: auto;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes ctrlClicked {
    from {
        filter: drop-shadow(0 1px 0 var(--color-1));
        scale: 1;
    }
    25% {
        filter: none;
        transform: translateY(1px);
    }
    90% {
        filter: none;
        transform: translateY(1px);
    }
    to {
        filter: drop-shadow(0 1px 0 var(--color-1));
    }
}
