@mixin fill {
    width: 100%;
    height: 100%;
}

@mixin abs($posY: top, $posX: left) {
    position: absolute;

    @if ($posY == top) {
        top: 0;
    }
    @if ($posY == bottom) {
        bottom: 0;
    }
    @if ($posX == left) {
        left: 0;
    }
    @if ($posX == right) {
        right: 0;
    }
}

@mixin flex($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-flow: $direction nowrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin hide {
    opacity: 0;
    pointer-events: none;
}

@mixin show {
    opacity: 1;
    pointer-events: auto;
}
