body.start-page {
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;

        .app {
            position: absolute;
            width: 256px;
            height: 192px;
            overflow: hidden;
            transform-origin: top left;
            image-rendering: pixelated;
            background: var(--color-4);
            gap: 16px;

            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 0;
            }

            .logo {
                z-index: 100;
                position: absolute;
                left: 74px;
                top: 63px;
            }

            .buttons {
                position: absolute;
                top: 140px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                text-align: center;
                gap: 2px;
                a {
                    cursor: pointer;
                    &:hover{
                        p{
                            color: black;
                            background-color: white;
                        }
                    }
                    &:active{
                        p{
                            color: white;
                            background-color: black;
                        }
                    }

                    p{
                        padding: 0 6px 1px 6px;
                        transition: color .125s ease, background-color .125s ease;
                    }
                }
            }
        }
    }
}
