@font-face {
    font-family: "grapesoda";
    src:
        url("../../static/assets/fonts/grapesoda.woff2") format("woff2"),
        url("../../static/assets/fonts/grapesoda.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pixer";
    src:
        url("../../static/assets/fonts/pixer.woff2") format("woff2"),
        url("../../static/assets/fonts/pixer.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "silkscreen";
    src:
        url("../../static/assets/fonts/silkscreen.woff2") format("woff2"),
        url("../../static/assets/fonts/silkscreen.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "silkscreen";
    src:
        url("../../static/assets/fonts/silkscreen-bold.woff2") format("woff2"),
        url("../../static/assets/fonts/silkscreen-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: "grapesoda";
    color: var(--color-8);
    font-size: 16px;
}

p {
    color: var(--color-8);
    font-family: sans-serif;
    z-index: 100;
    position: relative;
    font-family: "pixer";
    font-size: 10px;
    line-height: 1;
}

a {
    text-decoration: none;
}
