.inv-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 100%;

        &__boxes {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, 40px);
            grid-template-rows: repeat(2, 40px);
            gap: 8px;
            &__box {
                background: url("../../static/assets/images/menus/inventory/inv-box.png");
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: crosshair;
                img {
                    pointer-events: none;
                }
            }
        }
        &__description-bubble {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            opacity: 0;
            transition: opacity 0.2s ease;
            pointer-events: none;
            &--display {
                opacity: 1;
                pointer-events: auto;
            }
            img {
                position: relative;
            }
            &__text {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -65%);
                text-align: center;
                font-size: 8px;
            }
        }
    }
}
