@use "../../utils/mixins" as *;

.inv-menu {
    @include flex;

    position: relative;

    &__content {
        @include abs;
        @include fill;
        @include flex(column, start, center);

        gap: 16px;
        padding-top: 18px;

        h1 {
            color: var(--color-8);
            filter: drop-shadow(0 1px 0 var(--color-4));
        }

        &__boxes {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, 40px);
            grid-template-rows: repeat(2, 40px);
            gap: 8px;
            transition: all 0.05s steps(1);

            &__box {
                @include flex;

                background: url("../../static/assets/images/ui/modal-menus/inventory/inv-box.webp");
                cursor: crosshair;

                &:hover {
                    transform: translateY(-1px);
                    filter: drop-shadow(0 1px 0px var(--color-5));
                    img {
                        transform: translateY(-1px);
                    }
                }

                &:active {
                    transform: translateY(0px);
                    filter: drop-shadow(0 -1px 0px var(--color-3));
                    img {
                        transform: translateY(0px);
                    }
                }

                img {
                    pointer-events: none;
                    transition: all 0.1s steps(1);
                    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.5));
                }
            }
        }

        &__description-bubble {
            @include abs;
            @include hide;

            z-index: 1000;
            transition: opacity 0.2s ease;
            filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.5));

            &--display {
                opacity: 1;
            }

            img {
                position: relative;
            }

            &__text {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -100%);
                text-align: center;
                font-size: 8px;
            }
        }
    }
}
