@use "../../utils/mixins" as *;

.inv-menu {
    @include flex;

    position: relative;

    &__content {
        @include abs;
        @include fill;
        @include flex;

        gap: 8px;

        &__boxes {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, 40px);
            grid-template-rows: repeat(2, 40px);
            gap: 8px;

            &__box {
                @include flex;

                background: url("../../static/assets/images/menus/inventory/inv-box.png");
                cursor: crosshair;

                img {
                    pointer-events: none;
                }
            }
        }

        &__description-bubble {
            @include abs;
            @include hide;

            z-index: 1000;
            transition: opacity 0.2s ease;

            &--display {
                @include show;
            }

            img {
                position: relative;
            }

            &__text {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -65%);
                text-align: center;
                font-size: 8px;
            }
        }
    }
}
